<%- include('../layout/header', {title: title}) -%>

<div class="container container-margin-top">
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm navigate-arrow">
            <a id="prev" href="<%= prevHref %>">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-8">



            <% doubles.forEach(function(double){ %>

            <div class="panel <% if (double.seqid) { %> panel-success <% } else{ %> panel-danger <% } %>">
                <div class="panel-heading">
                    <em>#<%= double.seqid || double._id %></em>
                </div>
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <video id="<%= double._id %>" class="embed-responsive-item" controls>
                            <source src="<%= double.videoSrc %>" type="video/webm">
                            Your browser does not support HTML5 video.
                        </video>
                    </div>
                </div>

                <% if (!double.seqid) { %>
                <div class="panel-footer">

                    <button type="button" data-action="delete" class="btn btn-default <% if (double.isDouble) { %> hidden <% } %>" onclick="double(true, '<%= double._id %>', this)">Удалить дубликат</button>
                    <button type="button" data-action="cancel" class="btn btn-link <% if (!double.isDouble) { %> hidden <% } %>" onclick="double(false, '<%= double._id %>', this)">Отменить</button>

                </div>
                <% } %>
            </div>

            <br>
            <% }); %>

        </div>
        <div class="col-md-2 hidden-xs hidden-sm navigate-arrow">
            <a id="next" href="<%= nextHref %>">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>


<script>
    var webmId = '<%= id %>';
</script>

<script src="/vendors/mousetrap.min.js"></script>
<script src="/doubles/view.js"></script>