<%- include('layout/headerWithRandom', {title: title}) -%>

<div class="container container-margin-top">
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-8 col-xs-12 col-sm-12">
            <div class="pull-left">
                <em>#<%= id %></em>
            </div>
            <div class="pull-right">
                <span title="Просмотров" style="color: #337ab7">
                    <span class="glyphicon glyphicon-eye-open btn-xs"></span>
                    <span id="viewsCount"><%= webm.viewsCount || 0 %></span>
                </span>
                <div id="likeGroup" class="btn-group" role="group">
                    <a type="button" id="favorite" class="btn btn-link btn-xs" title="Добавить в избранное">
                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                        <span id="favoriteCount"><%= webm.favoriteCount || 0 %></span>
                    </a>
                    <a type="button" id="like" class="btn btn-link btn-xs" title="Нравится">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                        <span id="likeCount"><%= webm.likeCount || 0 %></span>
                    </a>
                    <a type="button" id="dislike" class="btn btn-link btn-xs" title="Не нравится">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                        <span id="dislikeCount"><%= webm.dislikeCount || 0 %></span>
                    </a>
                </div>
                <div id="navigation" class="btn-group" role="group" aria-label="...">
                    <a type="button" id="autoPrev" data-navigation="autoPrev" class="btn btn-link btn-xs" title="Автопереход назад"><span class="glyphicon glyphicon-backward" aria-hidden="true"></span></a>
                    <a type="button" id="autoCycle" data-navigation="autoCycle" class="btn btn-link btn-xs" title="Зациклить"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></a>
                    <a type="button" id="autoNext" data-navigation="autoNext" class="btn btn-link btn-xs" title="Автопереход вперед"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
                </div>
            </div>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
    </div>
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm navigate-arrow">
            <a id="prev" href="<%= prevHref %>">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-8">

            <div class="embed-responsive embed-responsive-16by9">
                <video id="webm" class="embed-responsive-item" controls>
                    <source src="<%= videoSrc %>" type="video/webm">
                    Your browser does not support HTML5 video.
                </video>
            </div>

        </div>
        <div class="col-md-2 hidden-xs hidden-sm navigate-arrow">
            <a id="next" href="<%= nextHref %>">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>

    <div class="row row-tags">
        <div class="col-md-7 col-xs-10 col-md-offset-2">
            <div id="tags">
                <% tags.forEach(function(tag){ %>
                    <a type="button"
                       class="btn btn-xs tag-radius <% if (tag.enable) { %> btn-success <% } else{ %> btn-default <% } %> btn-tag"
                       data-tag="<%= tag.name %>"
                       onclick="editTags.clickTag(this);"><%= tag.name %></a>
                <% }); %>
            </div>
        </div>

        <div class="col-xs-1 col-xs-offset-1 col-sm-offset-0">
            <div class="share-init pull-right"
                 data-title="webm #<%= id %>"
                 data-url="<%= shareUrl %>"
                 data-image="<%= previewSrc %>"
                 data-description="#webm #<%= id %>. <% tags.forEach(function(tag){ if (tag.enable) { %> #<%= tag.name.toString() %> <% }}); %>">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-3 col-sm-6" style="margin-top: 20px">
            <div class="input-group">
                <input type="text" id="newTag" class="form-control" placeholder="Новый тег">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="editTags.addNewTag()">Добавить</button>
              </span>
            </div>
        </div>
        <div class="col-md-2 hidden-sm hidden-xs"></div>
        <div class="col-md-3 col-sm-6" style="margin-top: 20px">
            <button type="button"
                    class="btn <% if (danger) { %> btn-danger <% } else{ %> btn-default <% } %> pull-right btn-block"
                    data-tag="danger"
                    onclick="editTags.clickTag(this);">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Пожаловаться
            </button>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
    </div>

    <br>
    <div class="row row-tags">
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-8 col-xs-12 col-sm-12">
            <%- include('partials/comments') -%>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
    </div>
</div>


<script>
    var webmId = '<%= id %>';
    document.addEventListener("DOMContentLoaded", function () {
        swipe.init();
        viewHotkeys.init();
        viewHotkeysNextPrev.init();
        editTags.init(webmId);
        viewActions.init(webmId);
        comments.init(webmId);
    });
</script>