<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">4webm</a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-10 well">

            <% tags.forEach(function(tag){ %>
            <a class="btn btn-default btn-sm tag-radius" type="button" style="margin: 3px" onclick="clickTag(this);">
                <%= tag._id %> <span class="badge"><%= tag.count %></span>
            </a>
            <% }); %>

        </div>
        <div class="col-sm-2" style="vertical-align: middle">
            <a href="/random" type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span> Random play
            </a>
        </div>
    </div>

    <br>
    <br>
    <br>

    <% for(var webmCounter = 0; webmCounter < webms.length; webmCounter = webmCounter + 4) { %>
    <div class="row">
        <% for(var innerCounter = 0; innerCounter < 4; innerCounter++) { %>
        <div class="col-xs-12 col-sm-6 col-md-3">
            #<%= webms[webmCounter+innerCounter].seqid %>
            <a href="/<%= webms[webmCounter+innerCounter].seqid %>" class="thumbnail">
                <img alt="#<%= webms[webmCounter+innerCounter].seqid %>" src="<%= webms[webmCounter+innerCounter].previewSrc %>" data-holder-rendered="true" style="width: 300px; height: 100%; display: block;">
            </a>
        </div>
        <% } %>
    </div>
    <% } %>
</div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/index.js"></script>
</body>
</html>
