<%- include('layout/headerWithRandom', {title: title}) -%>

<div class="container">
    <div class="row">
        <div id="tags" class="col-md-2">
            <div class="well hidden-print" data-spy="affix" role="complementary" data-offset-top="0">
            <% tags.forEach(function(tag){ %>
                <a id="<%= tag._id %>" class="btn btn-default btn-xs tag-radius" type="button" style="margin-top: 3px; margin-bottom: 3px;" onclick="clickTag(this);">
                    <%= tag._id %> <span class="badge"><%= tag.count %></span>
                </a>
                <div class="visible-md-block visible-lg-block">
                    <!-- for new line-->
                </div>
            <% }); %>
            </div>
        </div>
        <div class="col-md-10">
            <%- include('partials/webmsGrid', {webms: webms, viewPath: viewPath}) -%>
        </div>
    </div>
</div>


<script>
    var lastSeqid = '<%= lastSeqid %>';
</script>

<script src="/vendors/js.cookie-2.0.3.min.js"></script>
<script src="/index.js"></script>