<%- include('layout/header', {title: title, projectName: projectName}) -%>

<div class="container">
    <div class="row">
        <div class="col-sm-10 well">

            <% tags.forEach(function(tag){
                if (tag._id !== 'danger' || authorized) {
            %>

            <a id="<%= tag._id %>" class="btn btn-default btn-xs tag-radius" type="button" style="margin-top: 3px; margin-bottom: 3px;" onclick="clickTag(this);">
                <%= tag._id %> <span class="badge"><%= tag.count %></span>
            </a>
            <% }}); %>

        </div>
        <div class="col-sm-2" style="vertical-align: middle">
            <a href="/random" type="button" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span> Random
            </a>
        </div>
    </div>

    <br>

    <div id="webmsGrid">
        <% for(var i = 0; i < webms.length; i = i + 4) { %>
        <div class="row">
            <% for(var j = 0; j < 4 && i + j < webms.length; j++) { %>
            <div class="col-xs-12 col-sm-6 col-md-3">
                #<%= webms[i + j].seqid %>

                <%if (authorized) { %>
                    <a href="/edit/<%= webms[i + j].seqid %>" type="button" class="btn btn-link btn-xs" title="Р РµРґР°РєС‚РёСЂРѕРІР°С‚СЊ"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <% } %>
                <a href="/<%= webms[i + j].seqid %>" class="thumbnail">
                    <div class="thumbnail inner-thumbnail" style="background-image: url(<%= webms[i + j].previewSrc %>)"></div>
                </a>
            </div>
            <% } %>
        </div>
        <% } %>
    </div>

    <br>

    <div class="row">
        <div class="col-xs-12">
            <a class="btn btn-default center-block" role="button" onclick="moarWebms()">MOAR</a>
        </div>
    </div>
</div>


<script>
    var lastSeqid = '<%= lastSeqid %>';
</script>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/vendors/js.cookie-2.0.3.min.js"></script>
<script src="/index.js"></script>

<%- include('layout/footer') -%>