<%- include('layout/headerWithRandom', {title: title}) -%>

<div class="container">
    <div class="row">
        <div id="tags" class="col-md-2">
            <div class="index-tags hidden-print" data-spy="affix" role="complementary" data-offset-top="0">
                <% tags.forEach(function(tag){ %>
                <a id="<%= tag._id %>" class="btn btn-default btn-xs tag-radius" type="button" onclick="mainTags.clickTag(this);" title="<%= tag._id %>">
                    <span class="tag-name pull-left"> <%= tag._id %> </span>
                    <span class="badge pull-right" style="margin: 2px"><%= tag.count %></span>
                </a>

                <div class="visible-md-block visible-lg-block">
                    <!-- for new line-->
                </div>
                <% }); %>
            </div>
        </div>
        <div class="col-md-10">
            <%- include('partials/webmsGrid', {webms: webms, viewPath: viewPath}) -%>
        </div>
    </div>
</div>


<script>
    var lastSeqid = '<%= lastSeqid %>';
    document.addEventListener("DOMContentLoaded", function () {
        moar.init(lastSeqid, '/api/webm/moar');
        mainTags.init(lastSeqid);
    });
</script>

<script src="/vendors/js.cookie-2.0.3.min.js"></script>
<script src="/generateWebmsGridHtml.js"></script>
<script src="/main/moar.js"></script>
<script src="/main/mainTags.js"></script>