<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">4webm</a>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 5%">
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm navigate-arrow">
            <a id="prev" href="<%= prevHref %>">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-8">
            <p><em># <%= id %></em></p>

            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                    <source src="<%= videoSrc %>" type="video/webm">
                    Your browser does not support HTML5 video.
                </video>
            </div>

            <br>

            <% tags.forEach(function(tag){ %>
            <a href="#" type="button" class="btn btn-xs btn-success"><%= tag.name %></a>
            <% }); %>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm navigate-arrow">
            <a id="next" href="<%= nextHref %>">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>


<script>
    var webmId = '<%= id %>';
</script>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/mousetrap.min.js"></script>
<script src="/app.js"></script>
</body>
</html>