<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">4webm</a>
        </div>
    </div>
</nav>

<div class="container" style="margin-top: 5%">
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm"></div>
        <div class="col-md-3"><p><em>#<%= id %></em></p></div>
        <div class="col-md-3 pull-right">
            <div class="btn-group" role="group" aria-label="...">
                <a type="button" id="autoCycle" class="btn btn-link btn-xs" title="Зациклить"><span class="glyphicon glyphicon-retweet" aria-hidden="true"></span></a>
                <a type="button" id="likeABoss" class="btn btn-link btn-xs" title="LIKE A BOSS"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span></a>
                <a type="button" id="autoNext" class="btn btn-link btn-xs" title="Автопереход"><span class="glyphicon glyphicon-forward" aria-hidden="true"></span></a>
            </div>
        </div>
        <div class="col-md-2 hidden-xs hidden-sm"></div>
    </div>
    <div class="row">
        <div class="col-md-2 hidden-xs hidden-sm navigate-arrow">
            <a id="prev" href="<%= prevHref %>">
                <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
            </a>
        </div>
        <div class="col-md-8">

            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls>
                    <source src="<%= videoSrc %>" type="video/webm">
                    Your browser does not support HTML5 video.
                </video>
            </div>

            <br>

            <% tags.forEach(function(tag){ %>
            <span class="label label-default"><%= tag.toString() %></span>
            <% }); %>

        </div>
        <div class="col-md-2 hidden-xs hidden-sm navigate-arrow">
            <a id="next" href="<%= nextHref %>">
                <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
            </a>
        </div>
    </div>
</div>


<script>
    var webmId = '<%= id %>';
</script>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="/mousetrap.min.js"></script>
<script src="/view.js"></script>
</body>
</html>