<div id="webmsGrid">
    <% if (locals.viewsTop && locals.commentsTop) {%>
        <div class="row tops">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Топ просмотров</h3>
                    </div>
                    <div class="panel-body">
                        <% for (var i = 0; i < viewsTop.length; i++ ) {%>
                            <div class="col-xs-6" id="div<%= viewsTop[i].seqid %>">
                                <em>#<%= viewsTop[i].seqid %></em>

                                <a href="<%= viewPath + viewsTop[i].seqid %>" class="thumbnail" title="<%= viewsTop[i].createDate %>">
                                    <div class="thumbnail inner-thumbnail" style="background-image: url(<%= viewsTop[i].previewSrc %>)"></div>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Топ комментов</h3>
                    </div>
                    <div class="panel-body">
                        <% for (var i = 0; i < commentsTop.length; i++ ) {%>
                            <div class="col-xs-6" id="div<%= commentsTop[i].seqid %>">
                                <em>#<%= commentsTop[i].seqid %></em>

                                <a href="<%= viewPath + commentsTop[i].seqid %>" class="thumbnail" title="<%= commentsTop[i].createDate %>">
                                    <div class="thumbnail inner-thumbnail" style="background-image: url(<%= commentsTop[i].previewSrc %>)"></div>
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <% for(var i = 0; i < webms.length; i = i + 4) { %>
    <div class="row">
        <% for(var j = 0; j < 4 && i + j < webms.length; j++) { %>
        <div class="col-xs-12 col-sm-6 col-md-3" id="div<%= webms[i + j].seqid %>">
            <em>#<%= webms[i + j].seqid %></em>

            <a href="<%= viewPath + webms[i + j].seqid + tagsQuery %>" class="thumbnail" title="<%= webms[i + j].createDate %>">
                <div class="thumbnail inner-thumbnail" style="background-image: url(<%= webms[i + j].previewSrc %>)"></div>
            </a>
        </div>
        <% } %>
    </div>
    <% } %>
</div>

<br>

<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-default center-block" role="button" onclick="moar.moarWebms()">MOAR</a>
    </div>
</div>